{{master_worknode}} {{master_data_path}}
{{slave_worknode}} {{slave_data_path}}
{{kafka_worknode01}} {{kafka_worknode01_path}}
{{kafka_worknode02}} {{kafka_worknode02_path}}
{{kafka_worknode03}} {{kafka_worknode03_path}}
{{zookeeper_worknode01}} {{zookeeper_worknode01_path}}
{{zookeeper_worknode02}} {{zookeeper_worknode02_path}}
{{zookeeper_worknode03}} {{zookeeper_worknode03_path}}

